<!DOCTYPE html>
<html>
    <head>
      <meta charset = "utf-8">
      <title>{{pageTitle}}</title>
    </head>


    <body>
        {{>header}}

        <p>
            <!-- first arg is the method, everything else is the input args
              below is the same as   screamIt(welcomeMessage)

           -->
            {{welcomeMessage}}
        </p>

      
    </body>
</html>
